SAIT_KEY=your secret key
EMAIL_USER=your email
EMAIL_PASSWORD=your email password
EMAIL_SMTP_HOST=smtp server
EMAIL_SMTP_PORT=smtp port
EMAIL_SMTP_TLS=choise 1 or 0
LOCAL=choise 1 or 0
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=django_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
