/.idea
/.gigaide

db.sqlite3
.env
/media

/config/__pycache__
/apps/__pycache__
/apps/accounts/migrations
/apps/accounts/__pycache__
/apps/accounts/api/__pycache__
/apps/elements/migrations
/apps/elements/__pycache__
/apps/products/migrations
/apps/products/__pycache__
/apps/products/api/__pycache__
/apps/questionnaire/migrations
/apps/questionnaire/__pycache__
/apps/questionnaire/api/__pycache__
/apps/recomendations/migrations
/apps/recomendations/__pycache__
/apps/recomendations/api/__pycache__
