{% extends '_main.html' %}
 {% load widget_tweaks %}
{% block content %}
<h1>Login page</h1>



{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form class="lr-form-stacked" id="login" method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>{{ form.username.label }} {{ form.username }} {{ form.username.errors }}</p>
    <p>{{ form.password.label }} {{ form.password }} {{ form.password.errors }}</p>
    <input type="submit" value="Войти" class="lr-button lr-button-default lr-width-1-1 lr-text-xsmall" >
</form>
<a href="{% url "accounts_urls:reset_password_url"  %}" >Forgot password?</a>
<a href="{% url "accounts_urls:register_url"  %}" >Register</a>
{% endblock %}