{% extends '_main.html' %}
{% block content %}
{% load widget_tweaks %}

<h1 class="lr-h3 lr-text-bolder">Set new password!</h1>
<hr>
{% if validlink %}

<form method="POST" class="lr-form-stacked">
    {% csrf_token %}
    <label class="lr-form-label">{{ form.new_password1.label }}</label>
    <div class="lr-form-controls">
        {% render_field form.new_password1 class="lr-input lr-margin" %}
        {{ form.new_password1.errors }}</div>
    <label class="lr-form-label">{{ form.new_password2.label }}</label>
    <div class="lr-form-controls">
        {% render_field form.new_password2 class="lr-input lr-margin" %}
    </div>{{ form.new_password2.errors }}
    <input class="lr-button lr-button-primary lr-width-1-1 lr-text-xsmall lr-margin-small"  type="submit" value="Change password">
</form>

{% else %}

<p>the password reset link was invalid, possibly because it had already been used. Please request a reset of the new password..</p>

{% endif %}
</div>
</div>
</div>
</div>
<script>
    let passwordInputs = document.querySelectorAll('input[type=password]');
    for (let passwordInput of passwordInputs) {
        if(!passwordInput.parentNode.classList.contains('lr-position-relative')) {
            passwordInput.parentNode.classList.add('lr-position-relative');
        }

        let button = document.createElement('a');
        button.className = 'lr-form-icon lr-form-icon-flip';
        button.setAttribute('lr-icon', 'icon: eye')
        passwordInput.parentNode.insertBefore(button, passwordInput);

        button.addEventListener('click', function () {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                button.setAttribute('lr-icon', 'icon: eye-slash')
            } else {
                passwordInput.type = 'password';
                button.setAttribute('lr-icon', 'icon: eye')
            }
            passwordInput.focus();
        });
    }
</script>

{% endblock %}