{% extends '_main.html' %}
{% block content %}
{% load widget_tweaks %}
<p>enter your email address to get a new password..</p>

<form method="POST" class="lr-form-stacked">
    {% csrf_token %}
    <label class="lr-form-label">{{ form.email.label }}</label>
    <div class="lr-form-controls lr-margin-small">
        {% render_field form.email class="lr-input" %}
        {{ form.email.errors }}</div>
    <input class='lr-button lr-button-primary lr-width-1-1 lr-margin lr-text-xsmall' type='submit' value='Send'>
</form>

{% endblock %}